<!DOCTYPE html>
<html>
    <head>
        <title>My beginner projects</title>
    </head>
    <body>
        <header>
            <h1><a href="/">This right here!</a></h1>
        </header>

        <article>
            <time>published: 10.09.2025, 15:08</time>
            <h2><a href="">My first post</a></h2>
            <p>To be defined</p>
        </article>

        <article>
            <time>published: 10.09.2024, 15:11</time>
            <h2><a href="">My second post</a></h2>
            <p>Maybe a calculator.</p>
        </article>

        <article>
            <time>published: 10.09.2025, 15:12</time>
            <h2><a href="">Third post</a></h2>
            <p>Maybe a user database.</p>
        </article>

    </body>
</html>